*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
:root{
    --main-color: #fff;
}

body{
  background-color: #1C1C1C;
  margin-bottom: 2%;
}

.nav-links{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 15px;
}.nav-links > li > a{
  text-decoration: none;
  color: #A1A1A1;
}

.div-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
  background-color: #171717;
  height: 50px;
}

h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 25px;
    font-size: 4rem;
  }h1 a{
    color: #ffcf00;
    text-decoration: none;
}

/* Styles do formulario  */
.div-bt{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
}.div-bt > input{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #FFCF00;
    font-size: 1.3rem;
}.div-bt > input:active{
    background-color: #CC9600;
}

.div-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}.div-form > form{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 255, 255, 0.2);
    background-color: #2B2B2B;
    /* width: 400px; */
    width: 90%;
    padding: 5% 5%;
    border-radius: 10px;
    color: #fff;
}
.input-form{
    margin-top: 5px;
    width: 100%;
    /* height: 30px; */
    height: 2.2rem;
    padding-left: 5px;
    font-size: 1rem;
}

/* responsivo */

@media (min-width: 850px){
  .div-form form{
      width: 45%;
      padding: 3%;
  }

  .div-nav{
        background-color: transparent;
        justify-content: end;
        margin-right: 3%;
    }

}
